{% extends "newsapp/base.html" %}

{% block nav_right_buttons %}
    <li class="nav-item">
        <a role="button" aria-current="page" href="{% url 'contactsapp:index' %}">Latest Contacts</a>
    </li>
    <li class="nav-item">
        <a role="button" aria-current="page" href="{% url 'contactsapp:tags' %}">Tags</a>
    </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a role="button" aria-current="page" href="{% url 'contactsapp:contacts' %}">All Contacts</a>
        </li>
        <li class="nav-item">
            <a role="button" class="contrast" aria-current="page" href="{% url 'users:profile' %}">Profile</a>
        </li>
        <li class="nav-item">
            <a role="button" class="secondary" aria-current="page" href="{% url 'users:logout' %}">Log Out</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a role="button" aria-current="page" href="{% url 'users:login' %}">All Contacts</a>
        </li>
        <li class="nav-item">
            <a role="button" aria-current="page" href="{% url 'users:signup' %}">Create account</a>
        </li>
        <li class="nav-item">
            <a role="button" aria-current="page" href="{% url 'users:login' %}">Login</a>
        </li>
    {% endif %}

{% endblock nav_right_buttons %}