{% extends "contactsapp/base.html" %}

{% block content %}
<script>
    function confirmDelete(form, contactName) {
        if (confirm('{{ text.confirm_delete }} "' + contactName + '"?')) {
            form.submit();
        }
    }
</script>

<div class="content-container" style="display: flex; max-width: 1200px; margin: auto;">
    <main style="flex: 3; padding-right: 20px;">
        {% if contact %}
            <ul>
                <div>
                    <li style="margin-bottom: 10px;">
                        <span class="title_bold">{{ text.name }}</span>
                        <span class="small">{{ contact.name }}</span>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <span class="title_bold">{{ text.phone }}</span>
                        <span class="small">{{ contact.phone }}</span>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <span class="title_bold">{{ text.mail }}</span>
                        <span class="small">{{ contact.email }}</span>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <span class="title_bold">{{ text.address }}</span>
                        <span class="small">{{ contact.address }}</span>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <span class="title_bold">{{ text.creation }}</span>
                        <span class="small">{{ contact.creation_time|date }}</span>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <span class="title_bold">{{ text.tags }}:</span>
                        {% for tag in contact.tags.all %}
                            <a role="button" class="secondary" style="transform: scale(0.80); margin: 0 0 0 -1%;" href="/contactsapp/tags/{{tag.id}}/">{{ tag }}</a>
                        {% endfor %}
                    </li>
                    {% if user.is_authenticated %}
                        <a role="button" class="button primary" style="margin: 10px 0;" href="{% url 'contactsapp:update_contact' contact.id %}">{{ text.edit }}</a>
                        <form action="{% url 'contactsapp:delete_contact' contact.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="button" class="button danger" onclick="confirmDelete(this.form, '{{ contact.name }}')">{{ text.delete }}</button>
                        </form>
                    {% endif %}
                </div>
            </ul>
            <style>
                .title_bold {
                    font-size: 30px;
                    font-weight: bold;
                }
                .tags_bold {
                    font-size: 27px;
                    font-weight: bold;
                }
                .small_bold {
                    font-size: 24px;
                    font-weight: bold;
                }
                .small {
                    font-size: 24px;
                }
                .button {
                    padding: 10px 20px;
                    color: #fff;
                    border: none;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 4px;
                }
                .primary {
                    background-color: #007bff;
                }
                .danger {
                    background-color: #ae2012;
                }
            </style>
        {% else %}
            <h2>{{ text.not_found }}</h2>
        {% endif %}
    </main>

    <aside style="flex: 1; min-width: 200px; max-width: 300px;">
        <ul style="list-style: none; padding: 0;">
            <li>
                <a role="button" class="button" style="width: 240px; background-color: #0a9396; text-align: center;" href="{% url 'contactsapp:contacts' %}">{{ translations.back_to_contacts }}</a>
            </li>
        </ul>
    </aside>
</div>
{% endblock content %}
