
{% extends "contactsapp/base.html" %}

{% load static %}

{% block content %}


    {% if tags %}
    <h2>{{ text.list }}</h2>
    <ul>
        {% for tag in tags %}
            <li>
                <div>
                    <h3><a href="/contactsapp/tags/{{tag.id}}/">{{ tag.name }}</a></h3>
                    
                
                    <style>
                        .title_bold {
                        font-size: 30px;
                        font-weight: bold;
                        }
                    </style>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h2>{{ text.list_empty }}</h2>
    {% endif %}
    {% if user.is_authenticated %}
        <a role="button" type="submit" style="transform: scale(0.95); width:33%; margin: 0 33% 0 33%;" href="{% url 'contactsapp:add_group' %}">{{ text.add_group }}</a>
    {% endif %}
  
{% endblock content %}