{% extends "contactsapp/base.html" %}

{% load static %}

{% block content %}

    {% if latest_contacts %}
    <h2>{{ text.latest }}</h2>
    <ul>
        {% for contact in latest_contacts %}
        <li>
            <div>
                <a class="title_bold" href="/contactsapp/contacts/{{contact.id}}/">{{ contact.name }},</a>
                <span class="small_bold"> {{ contact.phone }},</span>
                <span class="small"> created on {{contact.creation_date|date}}</span>
                <div>
                    <span class="tags_bold">{{ text.tags }}:</span>
                    {% for tag in contact.tags.all %}
                        <a role="button" class="secondary" style="transform: scale(0.80)" href="/contactsapp/tags/{{tag.id}}/">{{tag}}</a>
                    {% endfor %}
                </div>
                <style>
                    .title_bold {
                    font-size: 30px;
                    font-weight: bold;
                    }
                    .tags_bold {
                    font-size: 27px;
                    font-weight: bold;
                    }
                    .small_bold {
                    font-size: 24px;
                    font-weight: bold;
                    }
                    .small {
                    font-size: 24px;
                    }
                </style>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h2>{{ text.latest_empty }}</h2>
    {% endif %}
  
{% endblock content %}
