
{% extends "contactsapp/base.html" %}

{% load static %}

{% block content %}

    <ul>
        <div>
            <h2>All contacts, associated with a tag</h2>
            <h2>«{{ tag.name }}»:</h2>
            <br><br/>
            <div>
                {% for contact in contacts %}
                    <li>
                        <div>
                            <h3>{{ contact.name }}</h3>
                            {% for tag in contact.tags.all %}
                                <a role="button" class="secondary" type="submit" href="/contactsapp/tags/{{tag.id}}/">{{tag}}</a>
                            {% endfor %}
                            <div>
                                <span class="small_bold">{{ contact.phone }}</span>
                                <span class="small">, created on {{contact.creation_date|date}}</span>
                                
                                <style>
                                    .small_bold {
                                    font-size: 16px;
                                    font-weight: bold;
                                    }
                                    .small {
                                    font-size: 16px;
                                    }
                                </style>
                                <br><br/>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {% if user.is_authenticated and creator %}
                    <a role="button" type="submit" href="{% url 'contactsapp:tag_update' tag.id %}">EDIT TAG</a>
                    <a role="button" type="submit" href="{% url 'contactsapp:tag_delete' tag.id %}">DELETE TAG</a>
                {% endif %}
                <br><br/>
            </div>
        </div>
    </ul>
  
{% endblock content %}
