
{% extends "contactsapp/base.html" %}

{% load static %}

{% block content %}

    <h2>{{ text.tagged_contacts }} «{{ tag.name }}»:</h2>
    <ul>
        <div>
            <div>
                {% for contact in contacts %}
                    <li>
                        <div>
                            <a class="title_bold" href="/contactsapp/contacts/{{contact.id}}/">{{ contact.name }},</a>
                            <span class="small_bold"> {{ contact.phone }},</span>
                            <span class="small"> created on {{contact.creation_date|date}}</span>
                            <div>
                                <span class="tags_bold">{{ text.tags }}:</span>
                                {% for tag in contact.tags.all %}
                                    <a role="button" class="secondary" style="transform: scale(0.80)" href="/contactsapp/tags/{{tag.id}}/">{{tag}}</a>
                                {% endfor %}
                            </div>
                            <style>
                                .title_bold {
                                font-size: 30px;
                                font-weight: bold;
                                }
                                .tags_bold {
                                font-size: 27px;
                                font-weight: bold;
                                }
                                .small_bold {
                                font-size: 24px;
                                font-weight: bold;
                                }
                                .small {
                                font-size: 24px;
                                }
                            </style>
                        </div>
                    </li>
                {% endfor %}
                {% if user.is_authenticated and creator %}
                    <a role="button" style="transform: scale(0.95); width:25%; margin: 0 0 0 22%;" href="{% url 'contactsapp:tag_update' tag.id %}">{{ text.edit }}</a>
                    <a role="button" style="transform: scale(0.95); width:25%; margin: 0 0 0 -1%;" href="{% url 'contactsapp:tag_delete' tag.id %}">{{ text.delete }}</a>
                {% endif %}
                <br><br/>
            </div>
        </div>
    </ul>
  
{% endblock content %}
