
{% extends "contactsapp/base.html" %}

{% load static %}

{% block content %}


    {% if tags %}
    <ul>
        {% if user.is_authenticated %}
            <a role="button" type="submit" style="transform: scale(0.95); width:30%;" href="{% url 'contactsapp:add_tag' %}">ADD</a>
        {% endif %}
        {% for tag in tags %}
            <li>
                <div>
                    <h3><a href="/contactsapp/tags/{{tag.id}}/">{{ tag.name }}</a></h3>
                    
                
                    <style>
                        .title_bold {
                        font-size: 30px;
                        font-weight: bold;
                        }
                    </style>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h2>No tags have been added yet. Yours can be the first! </h2>
        {% if user.is_authenticated %}
            <a role="button" type="submit" style="transform: scale(0.95); width:30%;" href="{% url 'contactsapp:add_tag' %}">ADD</a>
        {% endif %}
    {% endif %}
  
{% endblock content %}