{% extends "newsapp/base.html" %}

{% block dashboard_label %}{{ translations.dashboard }}{% endblock %}

{% block nav_left_buttons %}
<a href="{% url 'contactsapp:contact_list' %}" class="nav-button primary">{{ translations.my_contacts }}</a>
<a href="{% url 'notesapp:note_list' %}" class="nav-button secondary">{{ translations.my_notes }}</a>
<a href="{% url 'filemanagerapp:file_list' %}" role="button" class="nav-button third">{{ translations.my_files }}</a>
{% endblock %}

{% block nav_right_buttons %}
<img src="{{ user.profile.avatar.url }}" alt="Avatar" class="avatar">
<div class="buttons">
    <a href="{% url 'users:profile' %}" role="button" class="contrast">{{ translations.profile }}</a>
    <a href="{% url 'users:logout' %}?lang={{ request.session.language }}" role="button" class="secondary">{{ translations.logout }}</a>
</div>
{% endblock nav_right_buttons %}

{% block content %}

{% endblock content %}