{% extends "notesapp/base.html" %}

{% block title %}{% if form.instance.pk %}{{ translations.edit_note }}{% else %}{{ translations.add_note }}{% endif %}{% endblock %}

{% block content %}
<script>
    function resetFormAndRedirect() {
        document.querySelector('form').reset();
        window.location.href = '{% url "notesapp:note_list" %}';
    }
</script>

<div class="content-container" style="display: flex; max-width: 1200px; margin: auto;">
    <main style="flex: 3; padding-right: 20px;">
        <h1>{% if form.instance.pk %}{{ translations.edit_note }}{% else %}{{ translations.add_note }}{% endif %}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="language" value="{{ request.session.language }}">
            <div class="grid">
                <button type="submit" style="background-color: #0a9396; border: none;">{{ translations.save }}</button>
                <button type="reset" style="background-color: #ae2012; border: none;">{{ translations.reset }}</button>
            </div>
        </form>
    </main>
    <aside style="flex: 1; min-width: 200px; max-width: 300px;">
        <ul style="margin-left: -30px;">
            <li><a href="{% url 'notesapp:note_list' %}" role="button" class="contrast" style="width: 240px; background-color: #94d2bd; border: none;">{{ translations.back_to_list }}</a></li>
            <li><a href="{% url 'notesapp:tag_list' %}" role="button" class="contrast" style="width: 240px; background-color: #005f73; border: none;">{{ translations.tag_manager }}</a></li>
        </ul>
    </aside>
</div>
{% endblock %}
