{% extends "notesapp/base.html" %}

{% block title %}{{ translations.note_organiser }}{% endblock %}

{% block content %}
<script>
    function confirmDelete(form) {
        if (confirm('{{ translations.confirm_delete_note }}')) {
            form.submit();
        }
    }

    function resetFormAndRedirect() {
        document.querySelector('form').reset();
        window.location.href = '{% url "notesapp:note_list" %}';
    }

    function filterByTag(tagName) {
        const baseUrl = '{% url "notesapp:note_list" %}';
        const url = new URL(baseUrl, window.location.origin);
        url.searchParams.set('tag', tagName);
        window.location.href = url.toString();
    }
</script>

<style>
    .note-button {
        display: inline-block;
        padding: 8px 12px;
        margin: 2px;
        text-decoration: none;
        background-color: #0a9396;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 19px;
        width: 140px;
        text-align: center;
        transition: background-color 0.3s ease;
    }

    .note-button:hover {
        background-color: #005f73;
    }

    .note-button-edit {
        background-color: #ee9b00;
        margin-left: 10px;
    }

    .note-button-edit:hover {
        background-color: #b88100;
    }

    .note-button-delete {
        background-color: #ae2012;
        margin-left: 10px;
    }

    .note-button-delete:hover {
        background-color: #7e1710;
    }

    .note-button-add {
        background-color: #005f73;
        color: #fff;
        padding: 10px;
        display: inline-block;
        text-align: center;
        width: 240px;
    }

    .note-button-add:hover {
        background-color: #004050;
    }

    .note-button-tag-manager {
        background-color: #ca6702;
        color: #fff;
        padding: 10px;
        display: inline-block;
        text-align: center;
        width: 240px;
    }

    .note-button-tag-manager:hover {
        background-color: #a05201;
    }
</style>

<div class="content-container" style="display: flex; max-width: 1200px; margin: auto;">
    <main style="flex: 3; padding-right: 20px;">
        <h2>{{ translations.my_notes }}</h2>
        {% if selected_tag_name and selected_tag_name != 'All' %}
            <p>{{ translations.showing_notes_for_tag }}: <strong>{{ selected_tag_name }}</strong></p>
        {% endif %}
        {% if query %}
            <p>{{ translations.showing_search_results_for }}: <strong>{{ query }}</strong></p>
        {% endif %}
        {% if notes %}
        <ul>
            {% for note in notes %}
            <li>
                <a href="{% url 'notesapp:note_details' note.id %}" role="button" class="outline" style="width: 200px;">{{ note.title }}</a>
                <a href="{% url 'notesapp:edit_note' note.id %}" class="note-button note-button-edit">{{ translations.edit_note }}</a>
                <form action="{% url 'notesapp:delete_note' note.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="button" class="note-button note-button-delete" onclick="confirmDelete(this.form)">{{ translations.delete_note }}</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            {% if query %}
                <p>{{ translations.no_notes_found_for }} "<strong>{{ query }}</strong>". {{ translations.create_new_note_question }}
                <a href="{% url 'notesapp:add_note' %}">{{ translations.create_new_note }}</a>?</p>
            {% elif selected_tag_name and selected_tag_name != 'All' %}
                <p>{{ translations.no_notes_for_tag }} <strong>{{ selected_tag_name }}</strong>. {{ translations.you_can }}
                <a href="{% url 'notesapp:add_note' %}">{{ translations.add_new_note }}</a>.</p>
            {% else %}
                <p>{{ translations.no_notes_yet }} {{ translations.you_can }}
                <a href="{% url 'notesapp:add_note' %}">{{ translations.add_new_note }}</a>
                {{ translations.to_start }}</p>
            {% endif %}
        {% endif %}

        <footer style="text-align: center; margin-top: 20px;">
            <div class="pagination">
                {% if notes.has_previous %}
                    <a href="?page=1{% if query %}&query={{ query }}{% endif %}{% if selected_tag_name %}&tag={{ selected_tag_name }}{% endif %}" role="button" class="note-button">{{ translations.first }}</a>
                    <a href="?page={{ notes.previous_page_number }}{% if query %}&query={{ query }}{% endif %}{% if selected_tag_name %}&tag={{ selected_tag_name }}{% endif %}" role="button" class="note-button">{{ translations.previous }}</a>
                {% endif %}
                <span style="padding-left: 15px; padding-right: 15px">{{ translations.page }} {{ notes.number }} {{ translations.of }} {{ notes.paginator.num_pages }}</span>
                {% if notes.has_next %}
                    <a href="?page={{ notes.next_page_number }}{% if query %}&query={{ query }}{% endif %}{% if selected_tag_name %}&tag={{ selected_tag_name }}{% endif %}" role="button" class="note-button">{{ translations.next }}</a>
                    <a href="?page={{ notes.paginator.num_pages }}{% if query %}&query={{ query }}{% endif %}{% if selected_tag_name %}&tag={{ selected_tag_name }}{% endif %}" role="button" class="note-button">{{ translations.last }}</a>
                {% endif %}
            </div>
        </footer>
    </main>
    <aside style="flex: 1; min-width: 200px; max-width: 300px;">
        <div style="margin-bottom: 40px; margin-top: 40px;">
            <a href="{% url 'notesapp:add_note' %}" class="note-button note-button-add">{{ translations.add_note }}</a>
        </div>
        <form method="get" action="{% url 'notesapp:note_list' %}">
            <h3>{{ translations.search }}</h3>
            {{ search_form.as_p }}
            <div class="grid">
                <button type="submit" class="note-button">{{ translations.search }}</button>
                <button type="button" onclick="resetFormAndRedirect()" class="note-button note-button-delete">{{ translations.reset }}</button>
            </div>
        </form>
        <div style="margin-top: 40px;">
            <h3>{{ translations.tags }}</h3>
            <a href="{% url 'notesapp:tag_list' %}" class="note-button note-button-tag-manager">{{ translations.tag_manager }}</a>
        </div>
        <div>
            {% if tags %}
                <ul>
                    <li style="margin-top: 20px;">
                        <a href="#" onclick="filterByTag('All')" style="text-decoration: none; color: #0a9396;">{{ translations.all }}</a>
                    </li>
                    {% for tag in tags %}
                        <li>
                            <a href="#" onclick="filterByTag('{{ tag.name }}')" style="text-decoration: none; color: #0a9396;">{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
        </div>
    </aside>
</div>
{% endblock %}
