{% extends "newsapp/base.html" %}

{% block title %}{{ translations.login }}{% endblock %}

{% block nav_buttons %}
<div class="buttons">
    <a href="{% url 'users:signup' %}" role="button" class="secondary">{{ translations.signup }}</a>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h2>{{ translations.login }}</h2>
    </div>
    {% if messages %}
    <div>
        {% for message in messages %}
        <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="{{ form.username.id_for_label }}">{{ translations.username }}</label>
            {{ form.username }}
        </div>
        <div>
            <label for="{{ form.password.id_for_label }}">{{ translations.password }}</label>
            {{ form.password }}
        </div>

        <div class="grid">
            <button type="submit">{{ translations.submit }}</button>
            <button type="reset" class="secondary">{{ translations.reset }}</button>
            <button type="button" class="contrast" onclick="window.location.href='{% url 'users:password_reset' %}'">{{ translations.forgot_password }}</button>
        </div>
    </form>
</div>
{% endblock %}
