{% extends "newsapp/base.html" %}

{% block title %}{{ translations.password_reset }}{% endblock %}

{% block dashboard_label %}{{ translations.dashboard }}{% endblock %}

{% block nav_right_buttons %}
<div class="buttons">
    <a href="{% url 'users:signup' %}" role="button" class="secondary">{{ translations.sign_up }}</a>
    <a href="{% url 'users:login' %}" role="button" class="contrast">{{ translations.login }}</a>
</div>
{% endblock %}

{% block content %}
<style>
    .button {
        padding: 16px 20px;
        color: #fff;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    .button.primary {
        background-color: #0a9396;
    }

    .button.primary:hover {
        background-color: #086f6d;
    }

    .button.secondary {
        background-color: #ae2012;
    }

    .button.secondary:hover {
        background-color: #7e1710;
    }

    .button.contrast {
        background-color: #005f73;
    }

    .button.contrast:hover {
        background-color: #004050;
    }

    .container {
        max-width: 1000px;
        margin: auto;
        padding: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .form-group {
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <div>
        <h2>{{ translations.password_reset }}</h2>
    </div>

    {% if messages %}
    <div>
        {% for message in messages %}
        <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form action="{% url 'users:password_reset' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.email.label_tag }} {{ form.email }}
        </div>
        <div class="grid">
            <button type="submit" class="button primary">{{ translations.submit }}</button>
            <button type="reset" class="button secondary">{{ translations.reset }}</button>
        </div>
    </form>
</div>
{% endblock %}
