{% extends "newsapp/base.html" %}

{% block title %}{{ translations.profile_page }}{% endblock %}

{% block content %}
<div>
    <h1>{{ translations.profile_page }}: {{ user.username }}</h1>
    <img src="{{ user.profile.avatar.url }}" alt="avatar of user"/>
</div>

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="small mb-1">{{ translations.change_avatar }}:</label>
                {{ profile_form.avatar }}
                <span>{{ profile_form.errors.avatar }}</span>
            </div>
        </div>
    </div>
    <div class="grid">
        <button type="submit">{{ translations.save_changes }}</button>
        <button type="reset" class="secondary">{{ translations.reset }}</button>
    </div>
</form>
{% endblock %}
